.Light {
    background: pink;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.Grabber {
    background: green;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.Message {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 9;
    position: relative;
    font-family: "Inter";
    font-size: 20px;
}

.MessageContent {
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 20px;
    right: 20px;
    z-index: 10;
    margin: 48px 36px 48px 48px;
    overflow-y: auto;
    --sb-track-color: #091a2d;
    --sb-thumb-color: #165369;
    --sb-size: 14px;
}

.MessageContent::-webkit-scrollbar {
    width: var(--sb-size);
}

.MessageContent::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

.MessageContent::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

.MessageBG {
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 20px;
    right: 20px;
    height: 90%;
    width: 95%;
}

.IndividualMessage {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.MessageText {
    align-self: flex-start;
}

.MessageImage {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
