.inventoryCtn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.inventorySlot {
    height: 100px;
    width: 100%;
    border: 2px solid blue;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventoryItem {
    cursor: pointer;
}

.itemTooltip {
    padding: 8px;
    font-size: 20px;
    background: white;
}

.UpgradeGroup {
    padding: 8px;
}

.UpgradeList {
    display: flex;
    gap: 24px;
}

.UpgradeItem {
    width: 100px;
    min-width: 100px;
    border: 2px solid navy;
}

.MeterHeader {
    height: 30px;
    width: 100%;
    text-align: center;
}

.MeterContent {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.MeterCurrent {
    position: absolute;
    z-index: 12;
    top: 8px;
    width: 100%;
    text-align: center;
}

.MeterBGImage {
    position: absolute;
    top: -6px;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.MeterFillCtn {
    position: absolute;
    bottom: 12px;
    top: -26px;
    width: 75%;
    margin: 20px;
    height: 95%;
    position: relative;
}

.MeterFill {
    position: absolute;
    bottom: 0;
    opacity: 0.75;
    z-index: 12;
    width: 100%;
}

.MeterArrow {
    position: absolute;
    left: 11px;
    z-index: 11;
    color: green;
}

.DepthMax {
    position: absolute;
    bottom: 24px;
    z-index: 12;
    width: 100%;
    text-align: center;
}

.MaxMeterHeader {
    z-index: 12;
    width: 100%;
    text-align: center;
}

.DepthMeter {
    padding: 20px;
    padding-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
}

.HullIntegrity {
    padding: 20px;
    padding-bottom: 0px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
}

.Fuel {
    padding: 20px;
    padding-bottom: 0px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
}

.Light {
    background: pink;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.Grabber {
    background: green;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.Message {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 9;
    position: relative;
}

.MessageContent {
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 20px;
    right: 20px;
    z-index: 10;
    margin: 48px 36px 48px 48px;
    overflow-y: auto;
    --sb-track-color: #091a2d;
    --sb-thumb-color: #165369;
    --sb-size: 14px;
}

.MessageContent::-webkit-scrollbar {
    width: var(--sb-size);
}

.MessageContent::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

.MessageContent::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

.IndividualMessage {
    padding-bottom: 24px;
}

.MessageBG {
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 20px;
    right: 20px;
    object-fit: contain;
}
