.DatingSimEnding {
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: 22;
    background: white;
    color: white;
    padding: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.DatingPromptCtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 16px;
    padding-bottom: 48px;
}

.EndingTitle {
    font-size: 120px;
}

.badending {
    color: #b31a66;
}

.neutralending {
    color: white;
}

.goodending {
    color: #0d958d;
}

.DatingSimCtn {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.DatingSimOverlay {
    position: absolute;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    bottom: 0;
    height: 100%;
    z-index: 22;
    color: white;
    padding: 48px;
    text-align: center;
    user-select: none;
    width: 100%;
    overflow: hidden;
    font-family: "Inter";
}

.FinalBossImage {
    position: absolute;
    bottom: calc(30% - 250px);
    z-index: 20;
    left: 70%;
    transform: rotate(-15deg);
}

.TextContainer {
    position: absolute;
    width: 100%;
    min-height: 30%;
    bottom: 0;
    padding-top: 32px;
    background: url("../../assets/datingsimbg.png");
    background-size: cover;
    text-align: center;
}

.DatingPromptEnding {
    font-size: 36px;
    max-width: 30%;
    text-align: center;
    padding-bottom: 24px;
}

.DatingPrompt {
    font-size: 36px;
    max-width: 30%;
    text-align: center;
}

.DatingAnswer {
    max-width: 30%;
    padding: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 4px solid white;
}

.ReplayButton {
    font-size: 5rem;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    background: transparent;
    border: 4px solid white;
    cursor: pointer;
}

.neutral {
    background-image: url("../../assets/ending_neutral.png");
    background-size: cover;
}

.good {
    background-image: url("../../assets/ending_good.png");
    background-size: cover;
}

.bad {
    background-image: url("../../assets/ending_bad.png");
    background-size: cover;
}
