.DatingSimEnding {
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: 22;
    background: white;
    color: white;
    padding: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DatingSimOverlay {
    position: absolute;
    bottom: 0;
    height: 30%;
    z-index: 22;
    background: white;
    color: darkblue;
    padding: 48px;
    text-align: center;
}

.DatingPrompt {
    font-size: 36px;
    padding-bottom: 24px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.DatingAnswer {
    max-width: 60%;
    padding: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 4px solid darkblue;
}

.ReplayButton {
    font-size: 5rem;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    background: transparent;
    border: 4px solid white;
    cursor: pointer;
}

.neutral {
    background-image: url("../../assets/ending_neutral.png");
    background-size: cover;
}

.good {
    background-image: url("../../assets/ending_good.png");
    background-size: cover;
}

.bad {
    background-image: url("../../assets/ending_bad.png");
    background-size: cover;
}
