body,
html,
#root {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.LeftUI {
    width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Center {
    height: 100%;
    background-image: linear-gradient(aqua, black);
}

.RightUI {
    width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
