.App {
    display: flex;
    flex-direction: row;
}

.LeftUI {
    width: 420px;
    height: 100%;
}

.Center {
    flex-grow: 1;
    height: 100%;
}

.RightUI {
    width: 420px;
    height: 100%;
}
